@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply flex h-screen w-screen overflow-hidden bg-deepPurple bg-customImage bg-cover bg-no-repeat text-white antialiased outline-none;
}

#__next {
  @apply flex h-screen w-screen flex-col overflow-hidden;
}

.defaultGradient {
  background: linear-gradient(
      159deg,
      rgba(54, 35, 50, 1) 0%,
      rgba(198, 123, 143, 1) 50%,
      rgba(127, 137, 158, 1) 100%
    ),
    linear-gradient(
      25deg,
      rgba(110, 115, 190, 1) 0%,
      rgba(253, 253, 249, 0) 100%
    );
}

.radialGradient {
  background: radial-gradient(
      60% 50% at 95% 95%,
      rgba(54, 35, 50, 0.9) 0%,
      rgba(120, 45, 77, 0.6) 50%,
      rgba(198, 123, 143, 0) 100%
    ),
    radial-gradient(
      75% 50% at 5% 95%,
      rgba(113, 144, 153, 0.8) 0%,
      rgba(140, 180, 212, 0.4) 50%,
      rgba(127, 137, 158, 0) 100%
    );
}

.leaflet-container {
  @apply !w-full;
}

.leaflet-control-attribution {
  @apply hidden;
}

.leaflet-marker-icon {
  @apply !border-0;
}

.leaflet-container {
  @apply !bg-[#88ccfc];
}

@layer utilities {
  .clip-circle-full {
    clip-path: circle(100%);
  }
  .clip-circle-zero {
    clip-path: circle(0%);
  }
}

.leaflet-div-icon {
  @apply !bg-transparent;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  @apply !bg-black/90;
}

.leaflet-popup-content {
  @apply !m-0;
}

#jupiter-terminal-instance {
  @apply z-[500] !h-0 !w-0;
}

nav a {
  position: relative;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}
nav a:hover {
  transform: scale(1.1);
}

nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(1);
}

.particle {
  position: absolute;
  background: white;
  border-radius: 40%;
  opacity: 0.8;
  z-index: 0;
  width: 2px;
  height: 2px;
  transition:
    transform 10s ease,
    opacity 5s ease;
  animation:
    pulsate 2s ease-in-out infinite,
    move 3s ease-out forwards;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
