@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply flex w-screen !scroll-smooth bg-white antialiased outline-none scrollbar-none;
}

#__next {
  @apply flex h-full w-full flex-col;
}

.defaultGradient {
  background: linear-gradient(
      159deg,
      rgb(43, 142, 197, 0.7) 0%,
      rgb(253, 253, 249, 0) 100%
    ),
    linear-gradient(
      25deg,
      rgba(110, 115, 190, 1) 0%,
      rgba(253, 253, 249, 0) 100%
    );
}

.radialGradient {
  background: radial-gradient(
      52.97% 40.04% at 96.84% 100%,
      rgba(150, 190, 220, 0.3) 0%,
      rgba(150, 190, 220, 0) 100%
    ),
    radial-gradient(
      71.91% 45.75% at 0% 100%,
      rgba(122, 127, 195, 0.4) 0%,
      rgba(122, 127, 195, 0) 100%
    );
}

.leaflet-container {
  @apply !w-full;
}

.leaflet-control-attribution {
  @apply hidden;
}

.leaflet-marker-icon {
  @apply !border-0;
}

@layer utilities {
  .clip-circle-full {
    clip-path: circle(100%);
  }
  .clip-circle-zero {
    clip-path: circle(0%);
  }
}
