@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply flex h-screen w-screen !scroll-auto bg-white antialiased outline-none;
}

#__next {
  @apply flex h-screen w-screen flex-col overflow-hidden;
}

.defaultGradient {
  background: linear-gradient(
      159deg,
      rgb(43, 142, 197, 0.7) 0%,
      rgb(253, 253, 249, 0) 100%
    ),
    linear-gradient(
      25deg,
      rgba(110, 115, 190, 1) 0%,
      rgba(253, 253, 249, 0) 100%
    );
}

.radialGradient {
  background: radial-gradient(
    60% 50% at 95% 95%,
    rgba(135, 186, 225, 0.9) 0%,
    rgba(150, 190, 220, 0) 100%
  ),
  radial-gradient(
    75% 50% at 5% 95%,
    rgba(151, 156, 222, 0.8) 0%,
    rgba(122, 127, 195, 0) 100%
);
}

.leaflet-container {
  @apply !w-full;
}

.leaflet-control-attribution {
  @apply hidden;
}

.leaflet-marker-icon {
  @apply !border-0;
}

.leaflet-container {
  @apply !bg-[#88ccfc];
}

@layer utilities {
  .clip-circle-full {
    clip-path: circle(100%);
  }
  .clip-circle-zero {
    clip-path: circle(0%);
  }
}

.leaflet-div-icon {
  @apply !bg-transparent;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  @apply !bg-black/90;
}

.leaflet-popup-content {
  @apply !m-0;
}

.grid-animation {
  --right: white;
  --left: white;
  background-image: linear-gradient(
    to right,
    var(--left) 45%,
    transparent 50%,
    var(--right) 55%
  );
  -webkit-mask-image: linear-gradient(90deg, #000 2px, transparent 0),
    linear-gradient(180deg, #000 2px, transparent 0);
  mask-image: linear-gradient(90deg, #000 2px, transparent 0),
    linear-gradient(180deg, #000 2px, transparent 0);
  -webkit-mask-size: 60px 60px;
  mask-size: 60px 60px;
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
  inset: -100% 0;

}

@media (min-width: 1024px) {
  .grid-animation {
    animation-duration: 60s;
    -webkit-mask-size: 80px 80px;
    mask-size: 80px 80px;
  }
}
